services:
  hrpayrol360-api:
    build: .
    ports:
      - "8000:5000"
    restart: 'no'
    container_name: hrpayrol360-api
    deploy:
      resources:
        limits:
          cpus: '0.60'
          memory: 1024M
        reservations:
          cpus: '0.35'
          memory: 1024M
    logging:
      driver: "json-file"
      options:
        max-file: '5'
        max-size: '10m'
    environment:
      - NODE_ENV=development
      - DB_HOST=
      - DB_PORT=5432
      - DB_USERNAME=hr_payroll_dev
      - DB_PASSWORD=
      - DB_NAME=hr_payroll_360_dev_01

