{
  "development": {
    "username": "postgres",
    "password": "12345",
    "database": "hr_payroll_local",
    "host": "localhost",
    "dialect": "postgres",
    "port": "5432"
  },
  "test": {
    "username": "xxxxxx",
    "password": "xxxxxx",
    "database": "xxxxxx",
    "host": "xxxxxx",
    "dialect": "xxxxxx"
  },
  "production": {
    "username": "xxxxxx",
    "password": "xxxxxx",
    "database": "xxxxxx",
    "host": "xxxxxx",
    "dialect": "xxxxxx"
  }
}
